body {
    background:white;
}
header{
    display: block;
    width: 100%
}
/* ^^LOGO^^ */

.container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    list-style-type: none;
    flex-wrap: nowrap;
    width: 100%;
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
  height: auto;
}

li {
    font-family: 'Permanent Marker', cursive;
    font-size: 40px;
    padding: 20px;
}
/* ^^NAVIGATION^^ */
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 55%;
    height: auto;
    

}
.content {
	max-width: 1200px;
    margin: auto;
}
.container2{
    display:grid;
    grid-template-columns: 1fr;
    justify-content: center;
}

/* Media */
@media (max-width:576px){

.container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}


}
/* Media */